@import "base/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/font";

main {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100vw;
        max-width: 70em;
    }
}