@import "base/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/font";
@import "layout/layover";


main {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    #roulette {
        width: 60vw;
        min-width: 340px;

        transform-origin: center;

        @media (max-width: 350px) {
            width: 100vw;
        }    
    }
}